body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.nav > li, .navbar-brand{
    letter-spacing: 3px;
}


.phase, .aktivitaet, .meilenstein, .aktivitaet-mitarbeiter {
    padding:20px;
    border-radius:5px;
}

.phase {
    background-color: #D9E6F4;
}

.aktivitaet {
    background-color:#F8D3FF;
}

.meilenstein {
    background-color:#e8ffee;
}
.aktivitaet-mitarbeiter {
    background-color:#ddb3d9;
}


hr {
    border-top: 1px solid rgb(140,140,140);
}

.abschnitt {
    border-top: 2px solid rgb(140,140,140) !important;
}

